@import url('https://fonts.googleapis.com/css2?family=Borel&family=M+PLUS+Rounded+1c:wght@300&family=Montserrat:wght@100&family=Pacifico&family=Quicksand:wght@300&family=REM:wght@500&family=Rajdhani:wght@500&family=Tektur:wght@600&family=The+Nautigal:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.1);
    background-color: black;
    position: absolute;
    top: auto;
    left: 0;
    z-index: -1;
}
.secImg{
    position: absolute !important;
    top: 100%;
    left: 0;
}
.page2{
    position: absolute !important;
    font-size: 25px !important;
}
.NavigationMenu{
    
    backdrop-filter: blur(5px) !important;
    z-index: 122;
    
}
ul li:hover a{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid rgb(234, 7, 7) !important;
    transition: 0.5s;


}
.HomePage{
    position: relative !important;
   top: 50;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    align-items: center;
    text-align: center;
    
    font-family: 'Borel', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;


}

.Homeh1{
    font-family: 'Borel', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'REM', sans-serif;
font-family: 'Tektur', sans-serif;
font-family: 'The Nautigal', cursive;
font-size: 5rem !important;
}
.socialsIcons a{
    text-decoration: none !important;

}
.ServicesPage{
    width: 100vw;
   
    
}

.cardBody{
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
   
    border-radius: 20px;
    overflow: hidden;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid gold;
    margin-bottom: 12px;
    width: 500px !important;
   
}
.cardHover{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 100;
    overflow: hidden;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-family: 'Borel', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'The Nautigal', cursive;
    font-size: 4rem;
    background-color: #3b3a385a;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    transition: 1s;
}
.cardBody:hover .cardHover {
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 100;
    

}
.PricingPage{
    background-color: #171717 !important;
  
}
.ThePrice td{
    background-color: #171717  !important;
}

.MailBTN{
    position: relative;
    z-index: 30 !important;
    left: -300 !important;
    top: 450 !important;
}
h1{
    font-family: 'Borel', cursive;
    font-family: 'Cinzel Decorative', serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'The Nautigal', cursive;
}
/*Our Services section*/
@media only screen and (max-width: 768px){
    .cardBody{
       width: 70% !important;
       display: flex!important;
       flex-direction: column!important;
       align-items: center!important;
       justify-content: center!important;
       text-align: center !important;
       padding-right: 0 !important;
       padding-left: 0 !important;
       margin-left: 0 !important;
       margin-right: -10 !important;
    }
    @media only screen and (min-width: 600px){
        .MailBTN{
            position: relative;
            z-index: 30 !important;
            left: -200 !important;
            top: 50 !important;
        }
    }
    .HomePage{
        top: -2;
    }
    .DiscountDiv{
        width: 75% !important;
    }
    .textAArea{
        font-size: 1rem;
    }
    .MailBTN{
        position: relative;
        z-index: 30 !important;
        left: -150 !important;
        top: 10 !important;
        width: 100%;
    }
}

/*
THE BOOKING FORM SECTION
*/

.form-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: rgb(28, 28, 28) !important;
  }
  input:focus{
    background-color: transparent !important;
    color: white !important;
  }
  select:focus{
    background-color: transparent !important;

  }
  input[type="text"],
  input[type="email"],
  select,
  input[type="date"],
  input[type="time"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333; /* Dark gray input background color */
    color: #fff; /* White text color */
  }
  
  button {
    background-color: #d9534f; /* Red submit button color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c9302c; /* Darker red on hover */
  }
  .form-select{
    background-color: transparent !important;
    color: white !important;
  }
  .option{
    color: black !important;
    background-color: transparent !important;
  }
 
  .Page3{
    position: absolute;
    top: 100 !important;
    color: white !important;
    z-index: 222222;
  }