*{
   
    
}
body{
   background-color: #e9ecef; 
}
.hero{
    clip-path: polygon(0 0, 100% 0, 100% 44%, 0% 100%);
}
.section2{
    position: relative;
    top: -155;
    transition: 1s;
    border: 12px solid black;
    
}
.section2:hover{
    transform: scale(1.1);
}
@media  screen and (max-width: 720px){
    .section2{
        transform: scale(0.8);
    }
}
