*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5  !important;
}
.navigationB{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.nav2{
    position: sticky !important;
    top: 0 !important;
    z-index: 111;
    background-color: #f5f5f5  !important;
}
 .BUTT {
    color: white !important;
    font-size: larger;
    border-color: #f68b1e !important;
    background-color: #f68b1e !important;
  }
  form.d-flex button.btn.btn-outline-info .searchBTn:hover{
    background-color: #f68b1e !important;
}
.mySearch{
    width: 100% !important;
}
 .Home{
    color: #f68b1e !important;
    text-decoration: underline !important;
}
.section3{
    background-image: url('../IMAGE/Woman.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    max-width: 200vh;
    background-position: 10%;
    
}
.color-overlay{
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    color: white;
    height: 100%;
    transition: 0.5s;
}
.CCARD{
    position: relative;
    top: -90;
    transform: scale(1);
    
}
.CCARD:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
    
}
.NAVIGA{
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.list-group-item.active{
    background-color: #f68b1e !important;
    border: none;
}
.section5{
    background-color: #e0e0e0  !important;
}
.fab.fa-apple.fa-3x:hover{
    color: #f68b1e !important;
}
.fab.fa-android.fa-3x:hover{
    color: #f68b1e !important;
}
.Male, .Female{
    background-color: #f68b1e !important;
    border: none;
}
.Male:hover{
    background-color: #d97109 !important;
}